{% load static %}
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-3 d-flex p-5 align-items-center justify-content-center">
                <img src="{% static 'logo-white.png' %}" width="100px">
                <h3 class="ms-3">Startups NaUKMA</h3>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 d-flex p-4 flex-column align-items-center">
                <h5>Корисні посилання:</h5>
                <nav class="useful-links">
                    <a href="https://www.ukma.edu.ua/" target="_blank">Сайт НаУКМА</a>
                    <a href="https://www.ukma.edu.ua/index.php/about-us/spilnoti/students-life/about" target="_blank">Відділ по роботі зі студентами</a>
                    <a href="https://www.ukma.edu.ua/index.php/resursi/kulturno-mistetski-tsentr" target="_blank">Культурно-мистецький центр НаУКМА</a>
                    <a href="https://www.ukma.edu.ua/index.php/resursi/icc" target="_blank">Інформаційно-комп'ютерний центр</a>
                    <a href="https://library.ukma.edu.ua/" target="_blank">Наукова бібліотека</a>
                    <a href=""></a>
                </nav>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 d-flex p-4 flex-column align-items-center">
                <h5>Соцмережі могилянки:</h5>
                <nav class="social-networks d-flex justify-content-center">
                    <a href="https://www.instagram.com/naukma_official/"><i class="bi bi-instagram"></i></a>
                    <a href="https://uk-ua.facebook.com/naukma/"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.youtube.com/channel/UC3znl1NwCry9LxDf0z-DVKA"><i class="bi bi-youtube"></i></a>
                    <a href="https://t.me/vstup_naukma/"><i class="bi bi-telegram"></i></a>
                    <a href="https://twitter.com/naukma"><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </nav>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 d-flex p-4 flex-column align-items-center">
                <h5>Ми на карті:</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.7456670044267!2d30.517205515896478!3d50.46446059423605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce3f8783f067%3A0x20e77fb079389395!2z0J3QsNGG0ZbQvtC90LDQu9GM0L3QuNC5INGD0L3RltCy0LXRgNGB0LjRgtC10YIgItCa0LjRlNCy0L4t0JzQvtCz0LjQu9GP0L3RgdGM0LrQsCDQsNC60LDQtNC10LzRltGPIg!5e0!3m2!1suk!2sua!4v1631122129531!5m2!1suk!2sua" width="100%" height="200px" style="border-radius: 5px; border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</footer>
</body>
</html>