{% extends 'base.html' %}
{% load filters %}
{% load static %}

{% block content %}
<section id="startup-detail" navbar-theme="light">
    <div class="container-fluid">
        <div class="row">
            <nav class="breadcrumbs p-3">
                <a href="/"><i class="bi bi-house-door"></i></a>
                <span class="breadcrumb-delimiter"><i class="bi bi-caret-right-fill"></i></span>
                <a href="{% url 'startup_list' %}">Стартапи</a>
                <span class="breadcrumb-delimiter"><i class="bi bi-caret-right-fill"></i></span>
                <a class="inactive">{{ startup.name }}</a>
            </nav>
        </div>
        <div class="row py-4 mb-2 px-1">
            <h2>{{ startup.name }}</h2>
        </div>
        <div class="row">
            <div class="col-12 col-lg-5 col-xl-4 mb-5">
                <img src="{% if startup.image %}{{ startup.image.url }}{% else %}{% static 'startup-default.png' %}{% endif %}" alt="">
                <div class="pt-1 d-flex flex-column">
                    <div class="header-info d-flex justify-content-between mt-3 flex-wrap">
                        <div class="startup-tags col-12 col-md-8">
                            {% for startup_category in startup.categories.all %}
                                <span>{{ startup_category.name }}</span>
                            {% endfor %}
                        </div>
                        <div class="budget col-12 col-md-4">
                            <p>Зібрано коштів: <span>{{ startup.budget }} грн.</span></p>
                        </div>
                        <div class="followers w-100 col-12">
                            <p>Кількість підписників: <span class="me-2 badge bg-light p-2" id="startup-{{ startup.id }}-followers">{{ startup.followers.count }}</span> {% if request.user in startup.followers.all %}(<i class="bi bi-person-check-fill px-1"></i> Ви підписані){% endif %}</p>
                        </div>
                    </div>
                    <div class="ft-row row gx-2 flex-wrap">
                        <div class="col-12 d-flex mt-2">
                            <a class="btn btn-warning w-100">Приєднатися до команди</a>
                        </div>
                    </div>
                    <div class="ft-row row gx-2 flex-wrap">
                        <div class="col-12 col-md-6 d-flex mt-2">
                            <a class="btn {% if request.user not in startup.followers.all %}btn-primary{% else %}btn-light{% endif %} w-100 follow-link" reference="{% url 'follow_startup' slug=startup.slug %}" startup-id="startup-{{ startup.id }}-followers">
                                {% if request.user not in startup.followers.all %}
                                    Підписатися
                                {% else %}
                                    Відписатися
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-12 col-md-6 d-flex mt-2">
                            <a class="btn btn-success w-100">Зробити пожертву $</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 col-xxl-8 startup-description px-3">
                <div>
                    {{ startup.description|safe }}
                </div>
            </div>
        </div>
        <div class="row py-5 justify-content-center" id="comments-section">
            <h2 class="section-title">Обговорення</h2>
        </div>
        <div class="row justify-content-center pb-5">
            <div class="col-12 col-xxl-8">
                <a class="btn btn-warning" id="create-comment">Додати коментар <i class="bi bi-pen ms-2"></i></a>
                <form action="POST" id="comment-form" class="my-3 d-none">
                    {% csrf_token %}
                    <input type="hidden" id="reply-to">
                    <h5 class="mb-4">Додати коментар</h5>
                    <label for="comment-author" class="form-label">Ваше ім'я або нікнейм <span class="field-required">*</span></label>
                    <div class="form-group">
                        {{ comment_form.author }}
                        <span class="field-after"><i class="bi bi-file-person"></i></span>
                    </div>
                    <label for="comment-text" class="form-label">Коментар <span class="field-required">*</span></label>
                    <div class="form-group">
                        {{ comment_form.text }}
                        <span class="field-after"><i class="bi bi-chat-left-text"></i></span>
                    </div>
                    <div class="form-group ft-row row g-2">
                        <div class="col-12 col-lg-3">
                            <a class="btn btn-secondary w-100 submit" id="add-attached-files"><i class="bi bi-paperclip me-1"></i>Прикріпити файли</a>
                        </div>
                        <div class="col-12 col-lg-6">
                            <a class="btn btn-warning w-100 submit" id="send-comment" reference="{% url 'create_comment' slug=startup.slug %}">Надіслати</a>
                        </div>
                        <div class="col-12 col-lg-3">
                            <a class="btn btn-light w-100 submit" id="hide-comment-form"><i class="bi bi-x-lg me-2"></i>Скасувати</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-xxl-8">
                {{ startup|startup_comments }}
            </div>
        </div>
    </div>
</section>
{% endblock content %}